/* General Styles */
.body-bg {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: linear-gradient(to bottom, #404040, #333333);
    color: #fff;
  }
  
  /* Header Styles */
  .header {
    background-color: #cc0000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .main-heading {
    margin: 0;
    font-size: 2.8em;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .navbar {
    margin-top: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  /* Section Styles */
  .section {
    padding: 30px;
    margin: 20px auto;
    max-width: 900px;
    border: 2px solid #c46b6b;
    border-radius: 10px;
    background-color: #1a1a1a;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }
  
  .section-heading {
    color: #8dce55;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #ddd;
    margin-bottom: 15px;
  }
  
  ol, ul {
    font-size: 1.1em;
    margin-left: 20px;
    color: #bbb;
  }
  
  .image-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  }
  
  .image-caption {
    font-size: 1em;
    color: #ccc;
    margin-top: 10px;
  }
  
  /* Video Styling */
  .video {
    display: block;
    margin: 20px auto;
    border: 2px solid #fff;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  }
  
  /* Tableau Graph Styling */
  .tableau-graph {
    display: block;
    margin: 20px auto;
    border: 2px solid #fff;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  }
  
  /* Footer Styles */
  .footer {
    text-align: center;
    padding: 15px;
    background: #cc0000;
    color: #fff;
    margin-top: 20px;
  }
  
  .back-to-top {
    color: #ffcc00;
    font-size: 1.2em;
    text-decoration: none;
  }
  
  .back-to-top:hover {
    text-decoration: underline;
  }
  